header {
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: #2c5196
}

header h1 {
  margin-left: 1em;
  font-size: 1.7em;
  font-weight: 800;
  text-shadow: 1px 1px rgba(0, 0, 0, 0);
}

nav {
  margin-right: 3em;
  align-self: center;
}
nav a {
  margin: 0 1em 0 1em;
}