:root {
  --primary: rgba(44, 81, 150, 1);
  --white-text-shadow: 1px -1px white, 2px -2px black;
  --blue-text-shadow: 1px 1px white;
  --transparent-blue: rgba(44, 81, 150, .7);
}

html { 
  background: url('./assets/sunflower.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Nanum Gothic', sans-serif;
}