.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Nanum Gothic', sans-serif;
}

.main-section {
  color: black;
  background-image: url('./assets/skyline-contrast.jpg');
  background-size: contain;
  background-position: top 50%;
}
