#home {
  display: flex;
  flex-direction: rows;
  justify-content: center;
}

#logo {
  font-weight: 800;
  font-size: 4rem;
  justify-self: end;
  text-shadow: var(--white-text-shadow);
}

#image-container {
  width: auto;
  height: 70vh;
  margin: 1em 4em;
  border-radius: 1em;
  background-color: var(--transparent-blue);
  border: 1px solid black;
}

.inside-box {
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
  left: 1em;
  top: 1em;
  border-radius: 1em;
}

/* background-color: hsla(250, 60%, 50%, .7); */
#intro-container {
  background-color: var(--transparent-blue);
  width: 50%;
  border-radius: 1em;
  margin: 2em;
}

#intro-text {
  font-size: 1.5rem;
  color: whitesmoke;
  text-shadow: 1px 1px grey, 2px 2px black;
  padding: 2em;
  text-indent: 2em;
  text-align: justify;
}

.photo {
  position: relative;
  left: .5em;
  top: .5em;
  height: 100%;
  width: 100%;
  border-radius: 1em;
  border: 1px solid black;
}

#tagline {
  text-align: center;
  font-size: 2em;
  margin-top: 3em;
}


/* media queries */
/* 480 to 768
@media screen and (max-width: 768px) {
  * {
    color: red;
  }
}

480 and smaller (phone size)
@media screen and (max-width: 480px) {
  * {
    color: green;
  }
} */